html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.casino-wrap-50 {
	width: 50%;
	margin-top: 50px;
	margin: auto;
}
.casino-wrap-100 {
	width: 100%;
	margin-top: 50px;
}
.casino-wrap-50 h1 {
	text-align: center;
	color: #96c11f;
	margin-top: 100px;
}
.casino-random-prize {
	margin-top: 50px;
}
.casino-random-prize .getButton {
    color: white;
    background: #ff2424 linear-gradient(to bottom, rgba(255,255,255,0.3) 50%, transparent 50%);
    padding: 20px;
    font-size: 2em;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
	transition: all 0.3s;
}

.casino-random-prize .getButton:hover{
	background-color: #ff245f;
}

.loader {
	display: none;
	background-image: url('../images/spinner.gif');
	background-position: center;
	width: 256px;
    height: 256px;
    margin: auto;
}
.loader.active {
	display: block;
}
.shadow {
	padding: 30px;
    margin: auto;
    box-shadow: 1px 1px 3px #cccccc, 0px 10px 50px #00000005;
    border-radius: 5px;
    text-align: center;
	margin-bottom: 20px;
}
.casino-prize-box .title {
	font-size: 2em;
    text-transform: uppercase;
    color: gray;
}
.casino-prize-box .prize-value {
	font-size: 3em;
    color: red;
    margin-top: 30px;
    font-weight: bold;
}
.casino-prize-box.gif .prize-value {
	font-size: 2em;
}
.result-button {
	padding: 10px;
    background-color: red;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
	cursor: pointer;
	background: #87ce3a linear-gradient(to bottom, rgba(255,255,255,0.3) 50%, transparent 50%);
	border-radius: 5px;
	transition: all 0.3s;
}
.result-button:hover {
	background-color: #de26d8;
}
.casino-prizes-result .response {
	display: none;
	font-size: 1.2em;
	color: #82b100;
}
.try-again {
	display: none;
	text-align: center;
	margin-top: 80px;
}
.error {
	font-size: 1.2em;
    color: red;
}